/*Variables*/
:root {
    --primary: #FFF7F8;
    --fontPrimary: "Sofia Pro", sans-serif;

}




*,
*::after,
*::before {

    text-decoration: none;
    list-style: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: var(--fontPrimary);
    background-color: var(--primary);

}

p {
    font-size: 30;
}

a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}


/* Estilos index */

.Header__ul {
    display: flex;
    flex-direction: row;
    width: 891px;
    height: 80px;
    left: 494px;
    top: 0px;
    justify-content: space-around;
    align-items: center;



}

.Header__ul li {
    margin-left: 30px;
}

.HeadContainer__Logo {

    width: 30%;

}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: right;
    height: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1440px;
    height: 80px;
    background-color: var(--primary);

}

main .Encabezado {
    background-image: url(../jojobas/Fotos/fondo.png);
    height: 750px;
    left: 0px;
    top: 80px;

}

.Encabezado .Encabezado__TituloPrincipal {
    position: relative;
    width: 522.7px;
    height: 139.99px;
    left: 46.36px;
    top: 383.9px;
}

.Encabezado__BotonG {

    position: absolute;
    width: 156.05px;
    height: 28.71px;
    left: 136.87px;
    top: 590.1px;
}

.fotoYBack {
    position: absolute;
    width: 886px;
    height: 543px;
    left: 482px;
    top: 203px;
    background: rgba(255, 247, 248, 0.6);
}

.Encabezado__Foto {
    position: relative;
    padding: 11px 175px 10px 175px;
}

.PrimerProducto__Imagen {
    position: absolute;
    width: 413px;
    height: 411px;
    left: 107px;
    top: 938px;

}


.PrimerProducto__Imagen__back {
    position: absolute;
    width: 516px;
    height: 516px;
    left: 55px;
    top: 886px;
}

.PrimerProducto__parrafo__back {

    position: absolute;
    width: 772px;
    height: 516px;
    left: 625px;
    top: 886px;
}

.PrimerProducto__Parrafo {
    position: absolute;
    width: 578.9px;
    height: 142.45px;
    left: 713.76px;
    top: 1045.72px;
}

.PrimerProducto__Boton {
    position: absolute;
    width: 227.55px;
    height: 34.45px;
    left: 1082.04px;
    top: 1286.72px;

}

.PrimerParrafo__Imagen {

    position: absolute;
    width: 1407px;
    height: 306px;
    left: 17px;
    top: 1449px
}

.PrimerParrafo__Imagen__back {

    position: absolute;
    width: 1326px;
    height: 244px;
    left: 57px;
    top: 1480px;

}

.PrimerParrafo__Parrafo {

    position: absolute;
    width: 723px;
    height: 45px;
    left: 365px;
    top: 1530px;

    font-family: Sofia Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
}

.PrimerParrafo__boton {

    position: absolute;
    width: 143px;
    height: 36px;
    left: 1149px;
    top: 1655px;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;

}

.SegundoProducto__Imagen {

    position: absolute;
    width: 516px;
    height: 516px;
    left: 871px;
    top: 1792px;
}


.SegundoProducto__Imagen__Back {
    position: absolute;
    width: 413px;
    height: 411px;
    left: 922px;
    top: 1841px;

}

.SegundoProducto__parrafo__Back {

    position: absolute;
    width: 772px;
    height: 516px;
    left: 73px;
    top: 1792px;
}


.SegundoProducto__Parrafo {

    position: absolute;
    width: 578.9px;
    height: 142.45px;
    left: 201px;
    top: 1950px;
}

.SegundoParrafo__Boton {
    position: absolute;
    width: 188px;
    height: 36px;
    left: 547px;
    top: 2210px;


    font-weight: 300;
    font-size: 36px;
    line-height: 36px;

}

.gridCubos {
    background-color: rgba(196, 196, 196, 0.3);
    ;
    position: absolute;
    width: 1324px;
    height: 1295px;
    left: 63px;
    top: 2383px;

}

.carrusel {
    position: absolute;
    width: 1440px;
    height: 470px;
    left: 0px;
    top: 3744px;
    margin: 30px;
    padding: 20px;
    align-items: center;
}


.gridCubos {
    background-color: rgba(196, 196, 196, 0.3);
    ;
    position: absolute;
    width: 1324px;
    height: 1295px;
    left: 63px;
    top: 2383px;

}

.gridCubos {
    display: grid;
    grid-template-columns: 345px 345px 345px;
    grid-template-rows: 345px 345px 345px;
    justify-content: center;
    align-content: center;
    padding: 38px;
    grid-gap: 38px;

}

.gridCuadrados1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    background: #FFF7F8;
    border: 3px solid #000000;
    box-sizing: border-box;

}

.gridsCuadrados2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-image: url(../jojobas/Fotos/serumPuntasGrid.png);
}

.gridsCuadrados3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background-image: url(../jojobas/Fotos/jabonesGrid.png);
}

.gridsCuadrados4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url(../jojobas/Fotos/gelLimpiezaFacialGrid.png);
}

.gridsCuadrados5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: url(../jojobas/Fotos/cremaGrid.png);
}

.gridsCuadrados6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-image: url(../jojobas/Fotos/gridsIndexFondo.png);
}

.gridsCuadrados7 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-image: url(../jojobas/Fotos/sss.png);
}

.gridsCuadrados8 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-image: url(../jojobas/Fotos/Desodorante\ crema\ 2\ Grid.png);
}

.gridsCuadrados9 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-image: url(../jojobas/Fotos/gridsIndexFondo.png);

} 

.barrasGeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    width: 856px;
    height: 418px;
    left: 497px;
    top: 4598px;

}

.fotoLogo2 {
    position: absolute;
    width: 355px;
    height: 355px;
    left: 98px;
    top: 4598px;
    ;


}

.footer {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 5266px;
    align-items: center;

}


/* Estilos PagProductos */

/* Estilos PantallaProductos */

.gridProductos {
    display: grid;
    grid-template-columns: 785px 655px;
    grid-template-rows: 202px 543px 90px;
}

.titulo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.descripcionProducto {

    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.precioYcarrito {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.fotoProducto {

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: absolute;
    width: 593px;
    height: 917px;
    left: 785px;
    top: 34px;
}



/* Estilos VentanaInfo */